<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> template is working</title>
</head>
<body>
i am masum si template
<p>{{name}} is from {{place}}</p>
<h2>write text in following area</h2>
<form action="/removepunc" method="get">
    <textarea spellcheck="true" name="text1" style="margin: 0px; width: 583px; height: 159px;">
    </textarea>
    <button type="submit">analyze text</button>


</form>
<form action="/capitilize" method="get">
    <textarea spellcheck="true" name="text1" style="margin: 0px; width: 583px; height: 159px;">
    </textarea>
    <button type="submit">capitalize text</button>


</form>
<form action="/charcount" method="get">
    <textarea spellcheck="true" name="text1" style="margin: 0px; width: 583px; height: 159px;">
    </textarea>
    <button type="submit">capitalize text</button>


</form>


</body>
</html>